<div class="container p-5 mx-3 my-3">
  <h1>Movie List: <%= @list.name %></h1>
</div>

<div class="container p-3 mx-5 my-3">
  <div id="resaurant p-3 mx-5 my-3">
    <%= render @list %>
  </div>
</div>

<div class="container p-5 mx-3 my-3">
  <h3>Bookmarks</h3>
  <% @list.movies.each do |movie| %>
    <p><%= movie.title %></p>
    <p><%= movie.overview %></p>
  <% end %>
  <div class="container p-1 mx-1 my-1">
    <p>
      <%= render "bookmarks/form", list: @list, bookmark: @bookmark %>
    </p>
  </div>
</div>
